.button {
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  background-color: #f7ce68;
  border: none;
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease;

  &.addExpense {
    width: 55px;
    height: 55px;
  }
}
