.item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
  left: 0;
  transition: left 0.3s ease, width 0.3s ease;
  user-select: none;

  &.moved {
    left: 60px;
    width: calc(100% - 60px);

    .icon,
    p {
      opacity: 0.5;
    }
  }
}

.delete {
  border-radius: 4px;
  border: 1px solid #f94242;
  background: rgba(249, 66, 66, 0.05);
  width: 50px;
  height: 50px;
  position: absolute;
  left: -60px;
  top: 0;
  z-index: 2;

  &.confirm {
    border-color: #51c271;
    background: rgba(81, 194, 113, 0.05);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 8px;
  background: rgba(253, 160, 133, 0.2);
}

.category {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-transform: capitalize;
}

.date {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.26px;
  text-transform: capitalize;
}

.amount {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
  text-transform: capitalize;
  text-align: right;
  flex: 1;
}

.expense {
  color: #f95b51;
}

.income {
  color: #25a969;
}
