.form {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(101vw);
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 95%;
  transition: all ease 300ms;
}

.active {
  transform: translateX(-50%);
  transition: all ease 300ms;
}

.inputWrap {
  position: relative;
}

.radioListWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 5px;
  border-radius: 40px;
  background: #f4f6f6;
}

.label {
  display: block;
  padding-bottom: 5px;
  color: #666;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.input {
  width: 100%;
  padding: 16px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;

  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;

  &:focus {
    border: 1.4px solid #fda085;
    color: #fda085;
  }
}

.radioWrap {
  text-align: center;
  width: 50%;
}

.radioLabel {
  color: #666;
  display: block;
  padding: 10px 0;
}

.radio {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;

  &:checked {
    + .radioLabel {
      color: #fda085;
      border-radius: 40px;
      background-color: white;
    }
  }
}

.amount {
  padding-left: 27px;

  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &:focus {
    font-size: 14px;
    font-weight: 600;

    + .dollar {
      font-weight: 600;
      color: #fda085;
    }
  }
}

.select {
  appearance: none;
}

.date {
  width: 100%;
  appearance: none; /* Disable default styling */
  padding-top: 12px;
  height: 50px;
  padding-bottom: 12px;

  &::-webkit-datetime-edit-fields-wrapper {
    display: none;
  }

  &::-webkit-date-and-time-value {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    background-image: url("../../../public/calendar.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
  }

  &:focus {
    + .selectedDate {
      color: #fda085;
    }
  }
}

.arrow {
  position: absolute;
  top: 36px;
  right: 16px;
  width: 20px;
  height: 20px;
}

.dollar {
  position: absolute;
  top: 36px;
  left: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  color: #666;
}

.selectedDate {
  position: absolute;
  top: 36px;
  left: 16px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.submit {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  padding: 15px 0;
  background-color: #fda085;
  border: none;
  border-radius: 8px;

  &:disabled {
    background-color: #666;
    cursor: default;
  }
}
