.card {
  width: 374px;
  min-height: 201px;
  padding: 25px 20px 16px;
  margin-bottom: 32px;
  border-radius: 20px;
  background: #fda085;
}

.wrap {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease 300ms;
}

.hidden {
  transition: all ease 300ms;
  transform: translateX(-201vw);
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  padding-bottom: 8px;
}

.balance {
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.5px;
  padding-bottom: 8px;
}

.more {
  padding-top: 40px;
  text-align: end;
}
