.historyContainer {
  padding-top: 16px;
}

.title {
  padding: 12px 0;
  color: #666;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  border-radius: 40px;
  background: #f4f6f6;
}

.infoWrap {
  position: relative;
  margin-bottom: 16px;

  &::after {
    content: "";
    position: absolute;
    bottom: 15%;
    height: 1px;
    width: 100%;
    margin: 5px 0;
    transform: translateY(-50%);
    background: #666;
  }
}

.date {
  color: #666;
  font-size: 14px;
  padding-right: 10px;
}

.list {
  margin-top: 16px;
  max-height: calc(100svh - 326px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.emptyHistory {
  color: #666;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
