.profileWrap {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 8px;
  padding-bottom: 40px;
}

.avatar {
  border-radius: 50%;
}

.emailWrap {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.logOut {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 130px;
  color: #666;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;
  padding: 5px 29px;
  background-color: #f6f4f4;
  border: none;
  border-radius: 40px;
  transition: background-color ease 250ms;

  &:hover {
    background-color: #ebe9e9;
  }
}

.email {
  color: #010101;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
  padding-left: 5px;
}

.clearDataWrap {
  padding-left: 8px;
}

.label {
  color: #010101;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 14px;
}

.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  border-radius: 40px;
  background: #f6f4f4;
  width: 100%;
  padding: 15px 0;
  border: none;

  &:hover {
    background-color: #ebe9e9;
  }

  &.clear {
    color: #d85757;
  }

  &.confirm {
    color: #51c271;
  }
}

.loader {
  width: 14px;
  height: 14px;
  border: 2px solid #51c271;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
