.taxesPage {
  width: 100%;
  padding: 32px 16px 80px;
  border-radius: 30px 30px 0 0;
  background: #fff;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.quarterWrapper {
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.taxMonth {
  color: #17161d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quarterSum {
  color: #17161d;
  margin-top: 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quartersSum {
  color: #17161d;
  padding-top: 16px;
  margin-top: 32px;
  font-size: 16px;
  position: relative;
  width: fit-content;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.7);
  }
}

.inputWrap {
  position: relative;
}

.label {
  display: block;
  padding-bottom: 5px;
  color: #666;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.taxesLabel {
  display: block;
  color: #666;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: -16px;
}

.input {
  width: 100%;
  padding: 16px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;

  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;

  &:focus {
    border: 1.4px solid #fda085;
    color: #fda085;
  }
}

.select {
  appearance: none;
}

.arrow {
  position: absolute;
  top: 36px;
  right: 16px;
  width: 20px;
  height: 20px;
}
